@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=cyrillic')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')
body
    font-family: 'Roboto', sans-serif

h1
    font-weight: 700
    font-size: 20px
    text-align: center
    color: #4d4d4d !important